Repository shoya-sue/QuestBoard, changes with the owners that .github/CODEOWNERS names for each.
All owners: @your-github-username, @backend-team, @database-team, @api-team, @qa-team, @frontend-team, @ui-team, @devops-team, @documentation-team, @security-team

docs: READMEと技術仕様書を最新化
  README.md
  docs/CHANGELOG.md
  docs/DEPLOYMENT_GUIDE.md
  docs/TECHNICAL_SPECIFICATION.md
  package.json
Owners: @your-github-username, @documentation-team

修正：GIthubActionの自動実行を手動実行に切り替え
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/security.yml
Owners: @your-github-username, @devops-team

refactor: バックエンド設定ファイルの整理と最適化
  backend/.sequelizerc
  backend/src/config/cache-optional.js
  backend/src/config/database.js
  backend/src/config/environment.js
  backend/src/config/sentry.js
  backend/src/migrations/migrate-test.js
  backend/src/migrations/migrate.js
Owners: @your-github-username, @backend-team, @devops-team

feat: バックエンドビルドと起動スクリプトの追加
  backend/build.js
  backend/dev-server.js
  backend/simple-start.sh
  backend/src/test-app.js
  backend/start.sh
Owners: @your-github-username, @backend-team

refactor: バックエンドルート、サービス、ユーティリティの最適化
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/routes/admin.js
  backend/src/routes/quests.js
  backend/src/routes/search.js
  backend/src/services/backupService.js
  backend/src/services/search.js
  backend/src/utils/metrics.js
  backend/src/utils/secrets.js
Owners: @your-github-username, @backend-team, @api-team

feat: フロントエンドパフォーマンスモニタリングの実装
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/QuestBoard.tsx
  frontend/src/components/VirtualizedQuestList.tsx
  frontend/src/hooks/usePerformance.tsx
  frontend/src/utils/performanceMonitor.ts
Owners: @your-github-username, @frontend-team, @ui-team

ci: ドキュメント品質検証用GitHub Actionsワークフローの追加
  .github/workflows/advanced-docs-quality.yml
  .github/workflows/docs-validation.yml
  .github/workflows/markdown-link-config.json
Owners: @your-github-username, @devops-team

feat: デプロイメントとドキュメント拡張スクリプトの追加
  package-lock.json
  scripts/deploy-to-conoha.sh
  scripts/enhance-docs.js
Owners: @your-github-username, @devops-team

chore: Docker設定と環境ファイルの更新
  .gitignore
  Dockerfile.backend
  docker-compose.yml
Owners: @your-github-username, @devops-team

docs: CLAUDE.mdプロジェクト指示ファイルの追加
  CLAUDE.md
Owners: @your-github-username, @documentation-team

docs: CLAUDE.mdを包括的なプロジェクトガイドに更新
  CLAUDE.md
Owners: @your-github-username, @documentation-team

ci: GitHub Actions自動実行を手動実行のみに変更
  .github/dependabot.yml.disabled
  .github/workflows/advanced-docs-quality.yml
  .github/workflows/docs-validation.yml
  CLAUDE.md
Owners: @your-github-username, @devops-team, @documentation-team

fix: dependabot.ymlを再有効化
  .github/dependabot.yml
Owners: @your-github-username, @devops-team

chore: セキュリティテストツールをCode scanningから除外
  .github/codeql-config.yml
  .github/workflows/codeql.yml
  .gitignore
Owners: @your-github-username, @devops-team

fix: web-vitals 5.1.0へのアップデートに伴うAPI変更対応
  frontend/src/hooks/usePerformance.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/utils/performanceMonitor.ts
Owners: @your-github-username, @frontend-team

fix: @sentry/node 10.0.0へのアップデートに伴う変更
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  backend/package.json
  backend/src/app.js
  backend/src/config/sentry.js
Owners: @your-github-username, @backend-team, @devops-team

fix: @sentry/react 10.0.0へのアップデートと@sentry/tracing削除
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  frontend/package.json
Owners: @your-github-username, @backend-team, @frontend-team

fix: バックエンドから不要な@sentry/reactを削除
  backend/node_modules/.package-lock.json
  backend/package-lock.json
  backend/package.json
Owners: @your-github-username, @backend-team

.github/CODEOWNERS:

# Code Owners for QuestBoard

# デフォルトのオーナー
* @your-github-username

# Backend
/backend/ @your-github-username @backend-team
/backend/src/models/ @your-github-username @database-team
/backend/src/services/ @your-github-username @backend-team
/backend/src/routes/ @your-github-username @api-team
/backend/tests/ @your-github-username @qa-team

# Frontend
/frontend/ @your-github-username @frontend-team
/frontend/src/components/ @your-github-username @ui-team
/frontend/src/hooks/ @your-github-username @frontend-team
/frontend/src/services/ @your-github-username @frontend-team
/frontend/tests/ @your-github-username @qa-team

# インフラストラクチャ
/Dockerfile* @your-github-username @devops-team
/docker-compose*.yml @your-github-username @devops-team
/.github/ @your-github-username @devops-team
/scripts/ @your-github-username @devops-team

# ドキュメント
/README.md @your-github-username
/docs/ @your-github-username @documentation-team
*.md @your-github-username @documentation-team

# セキュリティ関連
/backend/src/middleware/auth.js @your-github-username @security-team
/backend/src/utils/encryption.js @your-github-username @security-team
/.env* @your-github-username @security-team

# 設定ファイル
/backend/package.json @your-github-username @backend-team
/frontend/package.json @your-github-username @frontend-team
/backend/src/config/ @your-github-username @backend-team @devops-team
